html,
body {
  position: fixed;
  overflow: hidden;
}

html {
  overflow: hidden;
  height: 100%;
  overscroll-behavior: none;
}

body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

.container {
  position: relative;

  width: 100vw;
  height: 100vh;
  background: transparent;

  overflow: hidden;
}

.container video {
  position: absolute;

  width: 100%;

  z-index: 1;
}

.canvas-display {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  overflow: hidden;
  background: transparent;
}
